# object files
*.o
*.\#*

################
# AutoTools
################
# http://www.gnu.org/software/automake
build-aux
/configure
/configure.scan

###################
# CMake files
###################
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
